<aside th:fragment="aside" class="sm:w-1/6 shadow bg-white min-h-[90vh] text-gray-500">
  <div class="aside-item">
    <button class="p-2 shadow-sm w-full text-left hover:bg-slate-200">Dashboard</button>
  </div>

  <div class="aside-item">
    <button class="p-2 flex justify-between items-center w-full text-left shadow-sm hover:bg-slate-200">
      <span>Request</span>
      <i class="fa-solid fa-chevron-left text-xs transition"></i>
    </button>
    <div class="hidden list-item flex flex-col">
      <a href="#!"
         class="px-2 shadow-sm group block relative py-2 hover:text-purple-500 hover:shadow-md transition flex items-center justify-between">
        <div>
          <span class="opacity-0 inline-block transition-opacity duration-300 group-hover:opacity-100">
            <i class="text-xs fa-solid fa-arrow-right"></i></span>
          <span class="group-hover:ml-2 duration-300">List</span>
        </div>
        <i class="fa-solid fa-table-list"></i>
      </a>
      <a href="#!"
         class="px-2 shadow-sm group block relative py-2 hover:text-purple-500 hover:shadow-md transition flex items-center justify-between">
        <div>
          <span class="opacity-0 inline-block transition-opacity duration-300 group-hover:opacity-100">
            <i class="text-xs fa-solid fa-arrow-right"></i></span>
          <span class="group-hover:ml-2 duration-300">Create</span>
        </div>
        <i class="fa-regular fa-square-plus"></i>
      </a>
      <a href="#!"
         class="px-2 shadow-sm group block relative py-2 hover:text-purple-500 hover:shadow-md transition flex items-center justify-between">
        <div>
          <span class="opacity-0 inline-block transition-opacity duration-300 group-hover:opacity-100">
            <i class="text-xs fa-solid fa-arrow-right"></i></span>
          <span class="group-hover:ml-2 duration-300">History</span>
        </div>
        <i class="fa-solid fa-clock-rotate-left"></i>
      </a>
    </div>
  </div>

  <div class="aside-item">
    <button class="p-2 flex justify-between items-center w-full text-left shadow-sm hover:bg-slate-200">
      <span>Employee</span>
      <i class="fa-solid fa-chevron-left text-xs transition"></i>
    </button>
    <div class="hidden list-item flex flex-col">
      <a href="#!"
         class="px-2 shadow-sm group block relative py-2 hover:text-purple-500 hover:shadow-md transition flex items-center justify-between">
        <div>
          <span class="opacity-0 inline-block transition-opacity duration-300 group-hover:opacity-100">
            <i class="text-xs fa-solid fa-arrow-right"></i></span>
          <span class="group-hover:ml-2 duration-300">List</span>
        </div>
        <i class="fa-solid fa-table-list"></i>
      </a>
      <a href="#!"
         class="px-2 shadow-sm group block relative py-2 hover:text-purple-500 hover:shadow-md transition flex items-center justify-between">
        <div>
          <span class="opacity-0 inline-block transition-opacity duration-300 group-hover:opacity-100">
            <i class="text-xs fa-solid fa-arrow-right"></i></span>
          <span class="group-hover:ml-2 duration-300">Create</span>
        </div>
        <i class="fa-regular fa-square-plus"></i>
      </a>
    </div>
  </div>

  <!-- New Project Section -->
  <div class="aside-item">
    <button class="p-2 flex justify-between items-center w-full text-left shadow-sm hover:bg-slate-200">
      <span>Project</span>
      <i class="fa-solid fa-chevron-left text-xs transition"></i>
    </button>
    <div class="hidden list-item flex flex-col">
      <a href="#!"
         class="px-2 shadow-sm group block relative py-2 hover:text-purple-500 hover:shadow-md transition flex items-center justify-between">
        <div>
          <span class="opacity-0 inline-block transition-opacity duration-300 group-hover:opacity-100">
            <i class="text-xs fa-solid fa-arrow-right"></i></span>
          <span class="group-hover:ml-2 duration-300">Create</span>
        </div>
        <i class="fa-regular fa-square-plus"></i>
      </a>
      <a href="#!"
         class="px-2 shadow-sm group block relative py-2 hover:text-purple-500 hover:shadow-md transition flex items-center justify-between">
        <div>
          <span class="opacity-0 inline-block transition-opacity duration-300 group-hover:opacity-100">
            <i class="text-xs fa-solid fa-arrow-right"></i></span>
          <span class="group-hover:ml-2 duration-300">List</span>
        </div>
        <i class="fa-solid fa-table-list"></i>
      </a>
    </div>
    <!-- New Project Section -->
    <div class="aside-item hover:bg-slate-200">
      <a th:href="@{/departments}"
         class="p-2 flex justify-between items-center w-full text-left shadow-sm"
         >
        <span th:class="${currentPage == 'departments'} ? 'text-purple-500 font-bold' : 'text-gray-500'">Department</span>
      </a>
    </div>
  </div>
</aside>
