<header th:fragment="header" class="min-h-[10vh] shadow flex justify-between items-center bg-white text-gray-500">
  <div class="">
    <div class="logo rounded-2xl hover:shadow-md p-4 font-bold cursor-pointer">Logo</div>
  </div>
  <div class="">
    <i class="fa-solid fa-magnifying-glass mr-2"></i>
    <input type="text" placeholder="Search project...">
  </div>
  <div class="flex items-center mr-4 gap-2">
    <div class="flex items-center gap-1 mr-2">
      <div class="inline-block p-4 bg-slate-300 rounded-full"></div>
      <span>Welcome</span>
      <i class="fa-solid fa-chevron-down text-xs"></i>
    </div>
    <i class="fa-regular fa-bell p-3 rounded-full hover:shadow"></i>
    <i class="fas fa-power-off icon text-green-500 p-3 rounded-full hover:shadow"></i>
  </div>
</header>