<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Add New Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
    <script th:inline="javascript">
        const employees = /*[[${employees}]]*/ [];
        const roles = /*[[${roles}]]*/ [];//
        const selectedEmployees = new Set();

        function addRow() {
            // if (selectedEmployees.size >= employees.length) {
            //     alert("You cannot add more rows than the number of available employees.");
            //     return;
            // }
            const table = document.getElementById('employeeTable');
            const rowNum = table.rows.length -1;
            const newRow = table.insertRow();
            newRow.classList.add("bg-white")
            newRow.innerHTML = `
            <td class="border px-4 py-2">
                <select name="employeeProjects[${rowNum}].employeeId" class="border rounded py-1 px-2" onchange="updateSelectedEmployees(this.value)">
                    <option value="">-- Select Employee --</option>
                    ${employees.map(emp => `<option value="${emp.id}">${emp.userName}</option>`).join('')}
                </select>
            </td>
            <td class="border px-4 py-2">
                <select name="employeeProjects[${rowNum}].role" class="border rounded py-1 px-2">
                    <option value="">-- Select Role --</option>
                    ${roles.map(role => `<option value="${role}">${role}</option>`).join('')}
                 </select>
            </td>
            <td class="border px-4 py-2 text-center">
                <button type="button" class="bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded" onclick="removeRow(this)">Remove</button>
            </td>
        `;
            updateDropdowns();
            refreshNameInput();
        }

        function updateSelectedEmployees(employeeId) {
            if (employeeId) {
                selectedEmployees.add(employeeId);
            }
            updateDropdowns();
        }

        //TODO update name select.... in table
        function refreshNameInput() {

        }

        function removeRow(button) {
            const row = button.parentNode.parentNode;
            //TODO update
            //const selectElement = row.querySelector('select[name="employeeForProjectSaveDTOS"]');
            //const employeeId = selectElement.value;

            //if (employeeId) {
            //    selectedEmployees.delete(employeeId);
            //}

            row.parentNode.removeChild(row);
            updateDropdowns();
            refreshNameInput();
        }

        function updateDropdowns() {
            const allSelects = document.querySelectorAll('select[name="employeeForProjectSaveDTOS"]');
            allSelects.forEach(select => {
                const options = Array.from(select.options);
                options.forEach(option => {
                    if (selectedEmployees.has(option.value) && option.value !== '') {
                        option.disabled = true;
                    } else {
                        option.disabled = false;
                    }
                });
            });
        }
    </script>
</head>
<body class="bg-purple-100">
<main layout:fragment="content" class="w-full mx-auto p-6">
    <div class="w-full flex bg-white shadow rounded-t-2xl p-3">
        <div class="w-8 h-8 block rounded-full bg-purple-400 hover:bg-purple-500 flex justify-center items-center"
             onclick="history.back()">
            <i class="fa-solid fa-chevron-left text-white"></i>
        </div>
    </div>
    <form th:action="@{/projects/add}" method="post" th:object="${project}" class="bg-white shadow-md rounded-b px-8  pb-8 mb-4">
        <h1 class="text-3xl text-center text-purple-600 font-bold mb-6">Add New Project</h1>
        <div class="mb-4">
            <label for="projectName" class="block text-gray-700 text-sm font-bold mb-2">Project Name:</label>
            <input type="text" id="projectName" name="name" required
                   class="shadow appearance-none border border-purple-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500">
        </div>

        <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description:</label>
            <textarea id="description" name="description" rows="4" required
                      class="shadow appearance-none border border-purple-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500"></textarea>
        </div>

        <div class="mb-4">
            <label for="startDate" class="block text-gray-700 text-sm font-bold mb-2">Start Date:</label>
            <input type="date" id="startDate" name="startDate" required
                   class="shadow appearance-none border border-purple-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500">
        </div>

        <div class="mb-4">
            <label for="endDate" class="block text-gray-700 text-sm font-bold mb-2">End Date:</label>
            <input type="date" id="endDate" name="endDate" required
                   class="shadow appearance-none border border-purple-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500">
        </div>

        <div class="mb-4">
            <label for="budget" class="block text-gray-700 text-sm font-bold mb-2">Budget:</label>
            <input type="number" id="budget" name="budget" min="0" required
                   class="shadow appearance-none border border-purple-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500"
                   placeholder="Enter budget amount">
        </div>

        <div class="mb-4">
            <label for="status" class="block text-gray-700 text-sm font-bold mb-2">Status:</label>
            <select id="status" name="status" required
                    class="shadow appearance-none border border-purple-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500">
                <option value="">-- Select Status --</option>
                <th:block th:each="status : ${projectStatuses}">
                    <option th:value="${status}" th:text="${status}"></option>
                </th:block>
            </select>
        </div>

        <h2 class="text-xl font-bold text-purple-600 mb-2">Select Employees</h2>
        <table id="employeeTable" class="mb-4 border border-gray-300">
            <thead class="bg-slate-200">
            <tr>
                <th class="border px-4 py-2">Employee Name</th>
                <th class="border px-4 py-2">Role</th>
                <th class="border px-4 py-2">Action</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr onchange="updateSelectedEmployees(this.value)">-->
<!--                <td class="border px-4 py-2">-->
<!--                    <select name="employeeName" class="border rounded py-1 px-2">-->
<!--                        <option th:each="emp: ${employees}" th:value="${emp.id}" th:text="${emp.userName}"></option>-->
<!--                    </select>-->
<!--                </td>-->
<!--                <td class="border px-4 py-2">-->
<!--                    <select name="role" class="border rounded py-1 px-2">-->
<!--                        <option value="member">Member</option>-->
<!--                        <option value="manager">Manager</option>-->
<!--                        <option value="admin">Admin</option>-->
<!--                    </select>-->
<!--                </td>-->
<!--                <td class="border px-4 py-2 text-center"><button type="button" class="bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded" onclick="removeRow(this)"> Remove</button></td>-->
<!--            </tr>-->
                <tr th:each="employeeProject, indexStat : ${project.employeeProjects}" class="border-b">
                    <td class="p-4">
                        <!-- Dropdown để chọn nhân viên -->
                        <select th:field="*{employeeProjects[__${indexStat.index}__].employeeId}"
                                class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option th:each="employee : ${employees}"
                                    th:value="${employee.id}"
                                    th:text="${employee.userName}"
                                    th:selected="${employeeProject.employeeId == employee.id}">
                            </option>
                        </select>
                    </td>
                    <td class="p-4">
                        <!-- Dropdown để chọn vai trò của nhân viên -->
                        <select th:field="*{employeeProjects[__${indexStat.index}__].role}"
                                class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option th:each="role : ${roles}"
                                    th:value="${role}"
                                    th:text="${role.getName()}"
                                    th:selected="${employeeProject.role == role}">
                            </option>
                        </select>
                    </td>

                    <td class="border px-4 py-2 text-center">
                        <button type="button" class="bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded" onclick="removeRow(this)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-end mt-2 mb-4">
            <button type="button" onclick="addRow()" class="text-xl flex justify-center items-center font-bold bg-green-500 hover:bg-green-600 text-white  w-8 h-8 rounded-full focus:outline-none focus:shadow-outline">
                <span><i class="fa-solid fa-plus text-center"></i></span>
            </button>
        </div>
        <hr/>
        <div class="mt-4 flex items-center justify-between">
            <button type="submit"
                    class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline">
                Create Project
            </button>
        </div>
    </form>
</main>
</body>
</html>