<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .error{
            color:red;
        }
    </style>
    <script th:src="@{/js/common.js}"></script>
</head>
<body class="bg-gradient-to-b from-purple-100 to-white">
<div th:replace="~{common/header::header}"></div>
<div class="flex">
<!--    <div th:replace="~{common/aside::aside}"></div>-->
    <main layout:fragment="content">
    </main>
</div>
<script th:src="@{/js/validate.js}"></script>

</body>

</html>

<!--<script>-->
<!--    const asides = document.querySelectorAll(".aside-item button");-->
<!--    asides.forEach(e => {-->
<!--        e.addEventListener("click", () => {-->
<!--            e.nextElementSibling.classList.toggle("hidden")-->
<!--            e.querySelector('i').classList.toggle("-rotate-90")-->
<!--        })-->
<!--    })-->
<!--</script>-->