<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<main layout:fragment="content" class="w-full mx-auto p-6 bg-purple-100/30 w-5/6">
    <h1 class="w-full p-6 bg-white text-2xl mb-3 shadow text-purple-500 font-bold rounded-md">Pending pay</h1>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">Claim ID</th>
                <th class="py-3 px-6 text-left">Title</th>
                <th class="py-3 px-6 text-left">Date</th>
                <th class="py-3 px-6 text-left">Amount</th>
                <th class="py-3 px-6 text-left">Status</th>
                <th class="py-3 px-6 text-left">Action</th>
            </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
            <tr class="border-b border-gray-200">
                <td class="py-3 px-6">1</td>
                <td class="py-3 px-6">Claim 1</td>
                <td class="py-3 px-6">2024-01-01</td>
                <td class="py-3 px-6">$100</td>
                <td class="py-3 px-6">Approve</td>
                <td class="py-3 px-6">
                    <div>
                        <a href="#!" class="bg-green-500 py-2 px-3 rounded-md text-white hover:bg-green-600">Verify</a>
                    </div>
                </td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-3 px-6">2</td>
                <td class="py-3 px-6">Claim 2</td>
                <td class="py-3 px-6">2024-01-02</td>
                <td class="py-3 px-6">$200</td>
                <td class="py-3 px-6">Pending</td>
                <td class="py-3 px-6">
                    <div>
                        <a href="#!" class="bg-green-500 py-2 px-3 rounded-md text-white hover:bg-green-600">Verify</a>
                    </div>
                </td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-3 px-6">3</td>
                <td class="py-3 px-6">Claim 3</td>
                <td class="py-3 px-6">2024-01-03</td>
                <td class="py-3 px-6">$150</td>
                <td class="py-3 px-6">Pending</td>
                <td class="py-3 px-6">
                    <div>
                        <a href="#!" class="bg-green-500 py-2 px-3 rounded-md text-white hover:bg-green-600">Verify</a>
                    </div>
                </td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-3 px-6">1</td>
                <td class="py-3 px-6">Claim 1</td>
                <td class="py-3 px-6">2024-01-01</td>
                <td class="py-3 px-6">$100</td>
                <td class="py-3 px-6">Pending</td>
                <td class="py-3 px-6">
                    <div>
                        <a href="#!" class="bg-green-500 py-2 px-3 rounded-md text-white hover:bg-green-600">Verify</a>
                    </div>
                </td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-3 px-6">2</td>
                <td class="py-3 px-6">Claim 2</td>
                <td class="py-3 px-6">2024-01-02</td>
                <td class="py-3 px-6">$200</td>
                <td class="py-3 px-6">Pending</td>
                <td class="py-3 px-6">
                    <div>
                        <a href="#!" class="bg-green-500 py-2 px-3 rounded-md text-white hover:bg-green-600">Verify</a>
                    </div>
                </td>
            </tr>
            <tr class="border-b border-gray-200">
                <td class="py-3 px-6">3</td>
                <td class="py-3 px-6">Claim 3</td>
                <td class="py-3 px-6">2024-01-03</td>
                <td class="py-3 px-6">$150</td>
                <td class="py-3 px-6">Pending</td>
                <td class="py-3 px-6">
                    <div>
                        <a href="#!" class="bg-green-500 py-2 px-3 rounded-md text-white hover:bg-green-600">Verify</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>