<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<main layout:fragment="content" class=" w-full mx-auto bg-purple-100 p-6">
    <div th:text="${message}"></div>
    <form th:action="@{/employees/add}" th:object="${employee}" method="post"
          id="employee-add" class="bg-white shadow-md rounded-lg p-6 pt-4 space-y-4 bg-gradient-to-b from-slate-100 to-white">
            <div class="drop-shadow-2xl w-8 h-8 block rounded-full bg-purple-400 hover:bg-purple-500 flex justify-center items-center"
                 onclick="history.back()">
                <i class="fa-solid fa-chevron-left text-white"></i>
            </div>
        <div class="flex justify-center">
            <h1 class="text-3xl text-center text-purple-600 font-bold mb-6 italic p-4 bg-white rounded-2xl shadow ">
                New employee</h1>
        </div>

        <div class="form-group">
            <label for="firstname" class="block text-sm font-medium text-gray-700">First Name</label>
            <input class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                   type="text" id="firstname" name="firstname" required>
            <div th:if="*{#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="text-red-500 text-sm"></div>
        </div>

        <div class="form-group">
            <label for="lastname" class="block text-sm font-medium text-gray-700">Last Name</label>
            <input class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                   type="text" id="lastname" name="lastname" required>
            <div th:if="*{#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="text-red-500 text-sm"></div>
        </div>

        <div class="form-group">
            <label class="block text-sm font-medium text-gray-700">Gender</label>
            <div class="mt-1">
                <div class="inline-flex items-center">
                    <input type="radio" name="gender" value="0" class="form-radio">
                    <span class="ml-2">Male</span>
                </div>
                <div class="inline-flex items-center ml-4">
                    <input type="radio" name="gender" value="1" class="form-radio">
                    <span class="ml-2">Female</span>
                </div>
            </div>
            <div class="error-gender">
            </div>
            <div th:if="*{#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-red-500 text-sm"></div>

        </div>

        <div class="form-group">
            <label for="dob" class="block text-sm font-medium text-gray-700">Date of Birth</label>
            <input class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                   type="date" id="dob" name="dob" required>
            <div th:if="*{#fields.hasErrors('dob')}" th:errors="*{dob}" class="text-red-500 text-sm"></div>
        </div>

        <div class="form-group">
            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
            <input class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                   type="text" id="address" name="address" required>
            <div th:if="*{#fields.hasErrors('address')}" th:errors="*{address}" class="text-red-500 text-sm"></div>
        </div>

        <div class="form-group">
            <label for="department" class="block text-sm font-medium text-gray-700">Department</label>
            <select id="department" name="departmentId"
                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                    required>
                <option value="">-- Select departments --</option>
                <option th:each="d : ${departments}" th:value="${d.id}"
                        th:text="${d.name}"></option>
            </select>
            <div th:if="*{#fields.hasErrors('departmentId')}" th:errors="*{departmentId}" class="text-red-500 text-sm"></div>
        </div>

        <div class="form-group">
            <label for="userName" class="block text-sm font-medium text-gray-700">Username</label>
            <input class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                   type="text" id="userName" th:field="*{accountRegisterDTO.userName}" required>
            <div th:if="*{#fields.hasErrors('accountRegisterDTO.userName')}" th:errors="*{accountRegisterDTO.userName}" class="text-red-500 text-sm"></div>
        </div>

        <div class="form-group">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                   type="email" id="email" th:field="*{accountRegisterDTO.email}" required>
            <div th:if="*{#fields.hasErrors('accountRegisterDTO.email')}" th:errors="*{accountRegisterDTO.email}" class="text-red-500 text-sm"></div>
        </div>

        <div class="form-group">
            <label for="password" class="block text-sm font-medium text-gray-700">Pasword</label>
            <input class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                   type="password" id="password" th:field="*{accountRegisterDTO.password}" required>
            <div th:if="*{#fields.hasErrors('accountRegisterDTO.password')}" th:errors="*{accountRegisterDTO.password}" class="text-red-500 text-sm"></div>

        </div>

        <div class="form-group">
            <label for="role" class="block text-sm font-medium text-gray-700">Role</label>
            <select id="role" name="accountRole"
                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                    required>
                <option value="CLAIMER" selected>Claimer</option>
                <option value="ADMIN">Admin</option>
                <option value="FINANCE">Finance</option>
            </select>
            <div th:if="*{#fields.hasErrors('accountRole')}" th:errors="*{accountRole}" class="text-red-500 text-sm"></div>
        </div>
        <button type="submit"
                class="mt-4 w-full bg-purple-500 text-white font-semibold py-2 rounded-md hover:bg-purple-600">Save
        </button>
    </form>
    <script th:src="@{/js/validate.js}"></script>

</main>
</body>
</html>