<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<main layout:fragment="content" class="w-full mx-auto p-6 bg-purple-100/30 w-5/6">
    <h1 class="inline-block p-6 bg-white text-2xl mb-3 shadow text-purple-500 font-bold rounded-md">Claim Detail</h1>
    <div class="w-full flex bg-white shadow rounded-t-2xl p-3">
        <div class="w-8 h-8 block rounded-full bg-purple-400 hover:bg-purple-500 flex justify-center items-center"
             onclick="history.back()">
            <i class="fa-solid fa-chevron-left text-white"></i>
        </div>
    </div>
    <div class="flex flex-col gap-4 mt-1">
        <div class="overflow-x-auto border-t">
            <div class="bg-white shadow-md border border-gray-200 p-6 transition duration-200 hover:shadow-lg">
                <h2 class="text-2xl font-semibold mb-4"></h2>
                <div class="space-y-2">
                    <div class="flex">
                        <span class="font-medium w-1/5">Claimer Name:</span>
                        <span th:text="${claim.employeeName}"></span>
                    </div>
                    <div class="flex">
                        <span class="font-medium w-1/5">Project Name:</span>
                        <span th:text="${claim.projectName}"></span>
                    </div>
                    <div class="flex">
                        <span class="font-medium w-1/5">Amount:</span>
                        <span th:text="${claim.amount}"></span>
                    </div>
                    <div class="flex">
                        <span class="font-medium w-1/5">Request Reason:</span>
                        <span th:text="${claim.requestReason}"></span>
                    </div>
                </div>
                <div class="flex space-x-2 mt-6">
                    <form th:action="@{/claims/{id}/paid(id=${claim.id})}" method="post">
                        <button type="submit" class="bg-green-500 text-white rounded px-2 py-1 hover:bg-green-600">Verify
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>