<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claims Request</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main layout:fragment="content" class="w-full mx-auto p-6 bg-purple-100 w-5/6">
    <div class="flex flex-col gap-1 shadow-md">
        <div class="w-full flex bg-white shadow rounded-t-2xl overflow-hidden">
            <a th:href="@{/claims/index}" class="cursor-pointer group px-4 py-5 relative hover:bg-slate-200">
                <span th:if="${role} == 'pm'" class="relative group-hover:drop-shadow-md group-hover:shadow-blue-600/50 group-hover:text-purple-600 font-bold" >Approve pending</span>
                <span th:if="${role} != 'pm'" class="relative group-hover:drop-shadow-md group-hover:shadow-blue-600/50 group-hover:text-purple-600 font-bold" >Pending</span>
                <span class="absolute left-0 right-0 bottom-0 h-1 bg-blue-500 transition-transform duration-300 group-hover:w-full" th:classappend="${active} == 'pendingPay'? 'w-full':'w-0'"></span>
            </a>
            <a th:href="@{/claims/index(status='approve')}" class="cursor-pointer group px-4 py-5 relative hover:bg-slate-200">
                <span class="relative group-hover:drop-shadow-md group-hover:shadow-blue-600/50 group-hover:text-purple-600 font-bold" >Approved</span>
                <span class="absolute left-0 right-0 bottom-0 h-1 bg-blue-500 transition-transform duration-300 group-hover:w-full" th:classappend="${active} == 'pendingPay'? 'w-full':'w-0'"></span>
            </a>
            <a th:href="@{/claims/index(status='return')}" class="cursor-pointer group px-4 py-5 relative hover:bg-slate-200">
                <span class="relative group-hover:drop-shadow-md group-hover:shadow-blue-600/50 group-hover:text-purple-600 font-bold" >Return</span>
                <span class="absolute left-0 right-0 bottom-0 h-1 bg-blue-500 transition-transform duration-300 group-hover:w-full" th:classappend="${active} == 'pendingPay'? 'w-full':'w-0'"></span>
            </a>
            <a th:href="@{/claims/index(status='reject')}" class="cursor-pointer group px-4 py-5 relative hover:bg-slate-200">
                <span class="relative group-hover:drop-shadow-md group-hover:shadow-blue-600/50 group-hover:text-purple-600 font-bold" >Reject</span>
                <span class="absolute left-0 right-0 bottom-0 h-1 bg-blue-500 transition-transform duration-300 group-hover:w-full" th:classappend="${active} == 'pendingPay'? 'w-full':'w-0'"></span>
            </a>
        </div>
        <div th:if="${active}== 'pending'" class="min-h-[70vh] bg-white">
            <div class="overflow-x-auto border-t pb-6">
                <div th:each="claim : ${claims} ">
                    <div class="group border-b hover:shadow-md px-4 flex justify-between items-center hover:bg-gray-50 transition duration-200 cursor-pointer">
                        <div class="ml-4 flex-1">
                            <a th:href="@{/claims/{id}/detail(id=${claim.id})}" class="py-4 flex items-center">
                                <p class="text-sm text-gray-600 min-w-[15vw]" th:text="${claim.employeeName}"> <span th:text="${claim.projectName}"></span></p>
                                <p class="text-gray-800" th:text="${claim.title}"></p> <span class="mx-2"> - </span>
                                <p class="text-gray-500 text-sm" th:text="'reason for claim: '+ ${claim.requestReason} +', total amount of claim: '+${claim.amount} + '$'">OT project fir</p>
                            </a>
                        </div>
                        <div class="flex gap-10 justify-between items-center py-4">
                            <div class="text-gray-500 text-sm" th:text="${claim.getFormattedCreatedTime()}">10:30 AM</div>
                            <div class="flex opacity-0 transition-opacity group-hover:opacity-100 space-x-2 ml-4">
                                <form th:if="${role} == 'pm'" th:action="@{/claims/approve/{id}(id=${claim.id})}" method="post">
                                    <button type="submit" class="bg-green-500 text-white rounded px-2 py-1 hover:bg-green-600">Approve</button>
                                </form>
                                <form th:if="${role} == 'pm'" th:action="@{/claims/return/{id}(id=${claim.id})}" method="post">
                                    <button type="submit" class="bg-sky-500 text-white rounded px-2 py-1 hover:bg-sky-600">Return</button>
                                </form>
                                <form th:if="${role} == 'pm'" th:action="@{/claims/reject/{id}(id=${claim.id})}" method="post">
                                    <button type="submit" class="bg-red-500 text-white rounded px-2 py-1 hover:bg-red-600">Reject</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${active}== 'approve'" class="min-h-[70vh] bg-white">
            <div class="overflow-x-auto border-t pb-6">
                <div th:each="claim : ${claims} ">
                    <div class="group border-b hover:shadow-md px-4 flex justify-between items-center hover:bg-gray-50 transition duration-200 cursor-pointer">
                        <div class="ml-4 flex-1">
                            <a th:href="@{/claims/{id}/detail(id=${claim.id})}" class="py-4 flex items-center">
                                <p class="text-sm text-gray-600 min-w-[15vw]" th:text="${claim.employeeName}"> <span th:text="${claim.projectName}"></span></p>
                                <p class="text-gray-800" th:text="${claim.title}"></p> <span class="mx-2"> - </span>
                                <p class="text-gray-500 text-sm" th:text="'reason for claim: '+ ${claim.requestReason} +', total amount of claim: '+${claim.amount} + '$'">OT project fir</p>
                            </a>
                        </div>
                        <div class="flex gap-10 justify-between items-center py-4">
                            <div class="text-gray-500 text-sm" th:text="${claim.getFormattedCreatedTime()}">10:30 AM</div>
<!--                            <div class="flex opacity-0 transition-opacity group-hover:opacity-100 space-x-2 ml-4">-->
<!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/approve(id=${claim.id})}" method="post">-->
<!--                                    <button type="submit" class="bg-green-500 text-white rounded px-2 py-1 hover:bg-green-600">Approve-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/return(id=${claim.id})}" method="post">-->
<!--                                    <button type="submit" class="bg-sky-500 text-white rounded px-2 py-1 hover:bg-sky-600">Return-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/reject(id=${claim.id})}" method="post">-->
<!--                                    <button type="submit" class="bg-red-500 text-white rounded px-2 py-1 hover:bg-red-600">Reject-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${active}== 'return'" class="min-h-[70vh] bg-white">
            <div class="overflow-x-auto border-t pb-6">
                <div th:each="claim : ${claims} ">
                    <div class="group border-b hover:shadow-md px-4 flex justify-between items-center hover:bg-gray-50 transition duration-200 cursor-pointer">
                        <div class="ml-4 flex-1">
                            <a th:href="@{/claims/{id}/detail(id=${claim.id})}" class="py-4 flex items-center">
                                <p class="text-sm text-gray-600 min-w-[15vw]" th:text="${claim.employeeName}"> <span th:text="${claim.projectName}"></span></p>
                                <p class="text-gray-800" th:text="${claim.title}"></p> <span class="mx-2"> - </span>
                                <p class="text-gray-500 text-sm" th:text="'reason for claim: '+ ${claim.requestReason} +', total amount of claim: '+${claim.amount} + '$'">OT project fir</p>
                            </a>
                        </div>
                        <div class="flex gap-10 justify-between items-center py-4">
                            <div class="text-gray-500 text-sm" th:text="${claim.getFormattedCreatedTime()}">10:30 AM</div>
                            <!--                            <div class="flex opacity-0 transition-opacity group-hover:opacity-100 space-x-2 ml-4">-->
                            <!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/approve(id=${claim.id})}" method="post">-->
                            <!--                                    <button type="submit" class="bg-green-500 text-white rounded px-2 py-1 hover:bg-green-600">Approve-->
                            <!--                                    </button>-->
                            <!--                                </form>-->
                            <!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/return(id=${claim.id})}" method="post">-->
                            <!--                                    <button type="submit" class="bg-sky-500 text-white rounded px-2 py-1 hover:bg-sky-600">Return-->
                            <!--                                    </button>-->
                            <!--                                </form>-->
                            <!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/reject(id=${claim.id})}" method="post">-->
                            <!--                                    <button type="submit" class="bg-red-500 text-white rounded px-2 py-1 hover:bg-red-600">Reject-->
                            <!--                                    </button>-->
                            <!--                                </form>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${active}== 'reject'" class="min-h-[70vh] bg-white">
            <div class="overflow-x-auto border-t pb-6">
                <div th:each="claim : ${claims} ">
                    <div class="group border-b hover:shadow-md px-4 flex justify-between items-center hover:bg-gray-50 transition duration-200 cursor-pointer">
                        <div class="ml-4 flex-1">
                            <a th:href="@{/claims/{id}/detail(id=${claim.id})}" class="py-4 flex items-center">
                                <p class="text-sm text-gray-600 min-w-[15vw]" th:text="${claim.employeeName}"> <span th:text="${claim.projectName}"></span></p>
                                <p class="text-gray-800" th:text="${claim.title}"></p> <span class="mx-2"> - </span>
                                <p class="text-gray-500 text-sm" th:text="'reason for claim: '+ ${claim.requestReason} +', total amount of claim: '+${claim.amount} + '$'">OT project fir</p>
                            </a>
                        </div>
                        <div class="flex gap-10 justify-between items-center py-4">
                            <div class="text-gray-500 text-sm" th:text="${claim.getFormattedCreatedTime()}">10:30 AM</div>
                            <!--                            <div class="flex opacity-0 transition-opacity group-hover:opacity-100 space-x-2 ml-4">-->
                            <!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/approve(id=${claim.id})}" method="post">-->
                            <!--                                    <button type="submit" class="bg-green-500 text-white rounded px-2 py-1 hover:bg-green-600">Approve-->
                            <!--                                    </button>-->
                            <!--                                </form>-->
                            <!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/return(id=${claim.id})}" method="post">-->
                            <!--                                    <button type="submit" class="bg-sky-500 text-white rounded px-2 py-1 hover:bg-sky-600">Return-->
                            <!--                                    </button>-->
                            <!--                                </form>-->
                            <!--                                <form th:if="${role} == 'pm'" th:action="@{/claims/reject(id=${claim.id})}" method="post">-->
                            <!--                                    <button type="submit" class="bg-red-500 text-white rounded px-2 py-1 hover:bg-red-600">Reject-->
                            <!--                                    </button>-->
                            <!--                                </form>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

</body>
</html>
